
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .75rem;
    font-size: .875rem;
    line-height: 0;
    border-radius: .2rem;
    color: #9a30a1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgba(239, 85, 39, 0.73);
    border-color: none;
}

.btn-primary {
    color: #9a30a1;
    background-color: rgba(142, 49, 149, 0.08);
    border-color: #9a30a1;
    font-family: open sans;
    font-size: 25px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #9a30a1;
    border-color: #9a30a1;
}

.btn-primary-outline {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    border: 2px solid;
}

.btn-primary-outline-none {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: none;
}

.card-img {
	max-width: 100%;
}

.card {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
    background-color: #e9e4ec;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
    color: #333;
}


body {
	background-color: #f1f3f3;
}

video {
    display: inline-block;
    vertical-align: baseline;
    width: auto !important;
    min-width: 100% !important;
    height: auto !important;
    min-height: 100%;
}

.begin-center {
    position: absolute;
    bottom:0px;
    left:50%;
}

.begin {
    position:relative;
    left:-50%;
    padding: 10px;
}

.begin a {
  transition: transform .1s ease-out;
  display: inline-block;
}

.begin a:hover {
  transform: translate(0, 3px);
  color: rgba(255, 255, 255, 0.3);
}

.fa-heart:before {
    content: "\f004";
    color: #ee2658;
}

  #content > div {

    display:none;
    padding: 200px;

  }

#content {
font-family: muli;
	
}

  h1, h2, h3, h4, h5, h6 {

    font-family: muli;

  }
  
  h3 {
  	line-height: 1.75;
  }
  
  .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.video-container {
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: center;
}
  
.jumbotron {
    background: rgba(105,240,218,1);
    background: -moz-linear-gradient(-45deg, rgba(29, 15, 15, 0.8) 0%, rgba(224, 51, 255, 0.8) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(29, 15, 15, 0.8)), color-stop(100%, rgba(224, 51, 255, 0.8)));
    background: -webkit-linear-gradient(-45deg, rgba(29, 15, 15, 0.8) 0%, rgba(224, 51, 255, 0.8) 100%);
    background: -o-linear-gradient(-45deg, rgba(29, 15, 15, 0.8) 0%, rgba(224, 51, 255, 0.8) 100%);
    background: -ms-linear-gradient(-45deg, rgba(29, 15, 15, 0.8) 0%, rgba(224, 51, 255, 0.8) 100%);
    background: linear-gradient(135deg, rgba(29, 15, 15, 0.8) 0%, rgba(224, 51, 255, 0.8) 100%);
    border-radius: 0;
    text-align: center;
    z-index: 1;
    position: relative;
}

  .jumbotron .h1, .jumbotron h1 {
    color: #fff;
    font-weight: 400;
    font-size: 45px;
  }

  .jumobotron .h2, .jumbotron h2 {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
  }
  
  .navbar-brand>img {
    display: block;
    position: relative;
    max-width: 200px;
    padding: 20px;
}

.navbar-toggler {
    padding: 1.5rem 1.5rem;
    font-size: 3rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    padding: 20px 50px;
}

.bg-faded {
    top: 0;
    background: transparent;
}

.bg-faded.navbar-color {
    top: 0;
    background-color: rgba(148, 51, 159, 0.8);
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: muli;
}

.navbar-brand {
    max-width: 25%;
    -webkit-filter: brightness(9);
    filter: brightness(0.25);
    padding: 20px 50px;
}


