
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgba(239, 85, 39, 0.73);
    border-color: none;
}

.btn-primary{
    color: #fff;
    background-color: #ef3f27;
    border-color: none;
}

.btn-primary {
    color: #fff;
    background-color: #ef3f27;
    border-color: #240d0a;
    font-family: open sans;
}

.btn-primary-outline {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    border: 2px solid;
}


body {
	background-color: #f1f3f3;
}

.fa-heart:before {
    content: "\f004";
    color: #ee2658;
}

  #content > div {

    display:none;

  }

  #content {
font-family: muli;
font-size: 55px;
font-weight: 300;
  }

  #Teacher, #Parent, #teacherRobots, #parentRobots, #teacherDrones, #parentDrones, #Type  {
    padding: 200px;
  }

  h1, h2, h3, h4, h5, h6 {

    font-family: muli;

  }

  .jumbotron .h1, .jumbotron h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 400;
  }

  .jumobotron .h2, .jumbotron h2 {
    font-size: 20px;
    max-width: 80%;
    color: #fff;
    font-weight: 300;
  }

  .jumbotron {
    padding: 280px 0;
    background-color: rgba(39, 165, 239, 0.78);
    border-radius: 0;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    padding: 20px;
}

.bg-faded {
    top: 0;
    background: transparent;
}

.bg-faded.navbar-color {
    top: 0;
    background-color: rgba(39, 165, 239, 0.78);
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: muli;
}

.navbar-brand {
    max-width: 25%;
    -webkit-filter: brightness(9);
    filter: brightness(0.25);
    padding: 20px;
}


