.btn {
    display: inline-block;
    padding: 48px 64px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 4px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgba(239, 85, 39, 0.73);
    border-color: none;
}

.btn-primary {
    color: #fff;
    background-color: #ef3f27;
    border-color: none;
}

.btn-primary {
    color: #fff;
    background-color: #ef3f27;
    border-color: #240d0a;
    font-family: open sans;
}

body {
	background: rgb(237, 249, 255);
}

.fa-heart:before {
    content: "\f004";
    color: #ee2658;
}

  #content > div {

    display:none;

  }

  #content {
font-family: muli;
font-size: 55px;
font-weight: 300;
  }

  #Teacher, #Parent, #teacherRobots, #parentRobots, #teacherDrones, #parentDrones, #Type  {
    padding: 200px;
  }

  h1, h2, h3, h4, h5, h6 {

    font-family: muli;

  }

  .jumbotron .h1, .jumbotron h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 400;
  }

  .jumobotron .h2, .jumbotron h2 {
    font-size: 20px;
    max-width: 80%;
    color: #fff;
    font-weight: 300;
  }

  .jumbotron {
    padding: 150px 0;
    background-color: rgba(39, 165, 239, 0.78);
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
