<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  
  <script src="https://use.typekit.net/kfd7yhz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <title>simplebotics.io</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/Users/gabriel/Desktop/simplebotics.io/css/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/8aa0763a08c22520bffebfed8cf71c012de9184dab0a8ec4fb472c2a9a015dea.js"></script>
  <script src="/Users/gabriel/Desktop/simplebotics.io/scripts/custom.js"></script>

</head>

<body ng-app="simpleboticsIO" ng-controller="ioController">

  <nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar-collapse">&#9776;</button>
    <a class="navbar-brand" href="http://www.simplebotics.io">simplebotics.io
    <p style="color: rgba(123, 26, 205, 0.5); font-size: 13px; margin: -9px 0 0 0">(beta)</p></a>
    <div class="collapse navbar-toggleable-sm" id="navbar-collapse">
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" href="file:///Users/gabriel/Desktop/simplebotics.io/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.simplebotics.com">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:contact@simplebotics.io">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/more">More</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Display video background -->

  <div class="video-container">

    <video autoplay="autoplay" loop="" poster="/assets/marketing/home-video-poster.jpg" muted>
      <source src="/assets/marketing/home-video.webm" type="video/webm">
        <source src="https://dl.dropboxusercontent.com/s/kxzrx3uijpy9u48/kamigami_jumbotron_background.mp4?dl=0" type="video/mp4">
          <source src="/assets/marketing/home-video.ogv" type="video/ogg">
          </video>
        </div>

        <!-- Display intro text and begin button -->

        <div class="jumbotron vertical-center">

          <div class="container">
            <h1>Need <div class="typed-header"></div> in your classroom?</h1>
            <h2>Discover the best STEM gadgets for your students and kids, for free.</h2>
            <div class="begin-center">
              <div class="begin">
                <a class="btn btn-primary-outline-none" href="javascript:void(null)" role="button" scroll-to="#section1">Start now<br><i class="fa fa-angle-down" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Product filter in view -->

        <div align="center">

          <section class="container-fluid" id="section1">
            <h1>You're interested in STEM for who?</h1>
            <div class="btn-toolbar">
              <label class="btn btn-primary" scroll-to="#section2" ng-click="showQuestions = false; showResults = false; showSection2 = true; ProductFilterGroup = {group: 'kids'}" uib-btn-radio>Kids</label>
              <label class="btn btn-primary" scroll-to="#section5" ng-click="showQuestions = true; showResults = false; showSection5 = true; ProductFilterGroup = {group: 'students'}" uib-btn-radio>Students</label>
            </div>
          </section>

          <div id="showQuestions" ng-show="!showQuestions">

            <section class="container-fluid" id="section2" ng-show="showSection2">
              <h1>What is their age group?</h1>
              <h3><a class="text" data-toggle="collapse" href="#collapseParentAgeGroup"><i class="fa fa-question-circle" aria-hidden="true" style="color: #8b00de"></i>
              </a></h3>
              <div class="collapse" id="collapseParentAgeGroup">
                <div class="card card-block">
                  We use this information to match you with a product's appropriate age group.
                </div>
              </div>
              <div class="btn-toolbar">
                <label class="btn btn-primary" scroll-to="#sectionSection5" ng-click="showSection5 = true; hideDroneButton = true; ProductFilterAge = {age: '3+'}" uib-btn-radio>3+</label>
                <label class="btn btn-primary" scroll-to="#section3" ng-click="showSection3 = true; hideDroneButton = true; ProductFilterAge = {age: '4-7'}" uib-btn-radio>4-7</label>
                <label class="btn btn-primary" scroll-to="#section3" ng-click="showSection3 = true; ProductFilterAge = {age: '8-13'}" uib-btn-radio>8-13</label>
                <label class="btn btn-primary" scroll-to="#section3" ng-click="showSection3 = true; hide50Button = true; ProductFilterAge = {age: '14+'}" uib-btn-radio>14+</label>
              </div>
            </section>

            <section class="container-fluid" id="section3" ng-show="showSection3">
              <h1>What subject interests them the most?</h1>
              <div class="btn-toolbar">
                <label class="btn btn-primary" scroll-to="#section4" ng-click="showSection4 = true; ProductFilterCategories = {categories: 'electronics'}" uib-btn-checkbox>Electronics</label>
                <label class="btn btn-primary" scroll-to="#section4" ng-click="showSection4 = true; ProductFilterCategories = {categories: 'programming'}" uib-btn-checkbox>Computers</label>
                <label class="btn btn-primary" scroll-to="#section4" ng-click="showSection4 = true; ProductFilterCategories = {categories: 'mechanics'}" uib-btn-checkbox>Mechanics</label>
              </div>
            </section>

            <section class="container-fluid" id="section4" ng-show="showSection4">
              <h1>Almost done. What type of product would you like?</h1>
              <div class="btn-toolbar">
                <label class="btn btn-primary" scroll-to="#section5" ng-click="showSection5 = true; ProductFilterType = {type: 'robot'}" uib-btn-checkbox>Robot</label>
                <label class="btn btn-primary" ng-hide="hideDroneButton" scroll-to="#section5" ng-click="showSection5 = true; ProductFilterType = {type: 'drones'}" uib-btn-checkbox>Drone</label>
                <label class="btn btn-primary" scroll-to="#section5" ng-click="showSection5 = true; ProductFilterType = {type: 'apps'}" uib-btn-checkbox>App</label>
                <label class="btn btn-primary" scroll-to="#section5" ng-click="showSection5 = true; ProductFilterType = {type: 'other'}" uib-btn-checkbox>Other</label>
              </div>
            </section>

            <section class="container-fluid" id="section5" ng-show="showSection5">
              <h1>Lastly, what's your budget?</h1>
              <div class="btn-toolbar">
                <label class="btn btn-primary" ng-hide="hide50Button" scroll-to="#sectionResults" ng-click="showResults = true; ProductFilterBudget = {budget: '50'}" uib-btn-checkbox>$50</label>
                <label class="btn btn-primary" scroll-to="#sectionResults" ng-click="showResults = true; ProductFilterBudget = {budget: '100'}" uib-btn-checkbox>$100</label>
                <label class="btn btn-primary" scroll-to="#sectionResults" ng-click="showResults = true; ProductFilterBudget = {budget: '200'}" uib-btn-checkbox>$200</label>
                <label class="btn btn-primary" scroll-to="#sectionResults" ng-click="showResults = true; ProductFilterBudget = {budget: '300'}" uib-btn-checkbox>$300</label>
              </div>
              <span style="padding: 10px"><h6><a class="text" scroll-to="#sectionResults" ng-click="showResults = true;">Not sure, skip question</a></h6></span>
            </section>

          </div>

          <div id="showQuestions" ng-show="showQuestions">

            <section class="container-fluid" id="section6" ng-show="showSection6">
              <h1>What age group do you teach?</h1>
              <h3><a class="text" data-toggle="collapse" href="#collapseTeacherAgeGroup"><i class="fa fa-question-circle" aria-hidden="true" style="color: #9a30a1"></i>
              </a></h3>

              <div class="collapse" id="collapseTeacherAgeGroup">
                <div class="card card-block">
                  We use this information to match you with a product's appropriate age group.
                </div>
              </div>

              <!-- Add a "why we need this information" dropdown section here -->

              <div class="btn-toolbar">
                <label class="btn btn-primary" scroll-to="#section7" ng-click="showSection7 = true" uib-btn-radio>3-7</label>
                <label class="btn btn-primary" scroll-to="#section7" ng-click="showSection7 = true" uib-btn-radio>8-13</label>
                <label class="btn btn-primary" scroll-to="#section7" ng-click="showSection7 = true" uib-btn-radio>14+</label>
              </div>
            </section>

            <section class="container-fluid" id="section7" ng-show="showSection7">
              <h1>What subject are you wanting to teach?</h1>
              <div class="btn-toolbar">
                <label class="btn btn-primary" scroll-to="#section7" ng-click="showSection7 = true" uib-btn-checkbox>Electronics</label>
                <label class="btn btn-primary" scroll-to="#section7" ng-click="showSection7 = true" uib-btn-checkbox>Coding</label>
                <label class="btn btn-primary" scroll-to="#section7" ng-click="showSection7 = true" uib-btn-checkbox>Mechanics</label>
              </div>
            </section>

            <section class="container-fluid" id="section8" ng-show="showSection8">
              <h1>What product would you like to teach with?</h1>
              <div class="btn-toolbar">
                <label class="btn btn-primary" scroll-to="#sectionResults" ng-click="" uib-btn-checkbox>Robot</label>
                <label class="btn btn-primary" scroll-to="#sectionResults" ng-click="" uib-btn-checkbox>Drone</label>
                <label class="btn btn-primary" scroll-to="#sectionResults" ng-click="" uib-btn-checkbox>App</label>
                <label class="btn btn-primary" scroll-to="#sectionResults" ng-click="" uib-btn-checkbox>Other</label>
              </div>
            </section>

          </div>

        </div>

        <section class="container-fluid" ng-show="showResults" id="sectionResults">
        <h1><i class="em em-sparkles"></i> Huzzah! Here's what we recommend:</h1>
          <div class="card-deck">
            <div class="card" ng-repeat="product in products | filter:ProductFilterGroup | filter:ProductFilterAge | filter:ProductFilterCategories | filter:ProductFilterType | filter:ProductFilterBudget | orderBy:'-rank' | limitTo:3">
              <card>
                <div class="card-block">
                  <h4 class="card-title">{{ product.title }}</h4>
                  <h6 class="card-subtitle text-muted">By {{ product.company }}</h6>
                  <img ng-src="{{ product.image }}" alt="Card image">
                  <p class="card-text">{{ product.description }}</p>
                  <p><a href="{{ product.link }}" class="card-text-sm">Learn more</a></p>
                  <p class="card-text"><span style="color: #8b00de; padding: 5px; float: right">{{ product.price | currency : symbol }}</span></p>
                  <a href="{{ product.buy }}" class="btn btn-secondary">Buy now</a>
                </div>
              </card>
            </div>
          </div>
        </section>

        <footer class="footer">

          <p class="hidden-xs">
            Built with <i class="fa fa-heart" aria-hidden="true"></i> by the awesome humans at <a href="http://twitter.com/simplebotics">@simplebotics</a>
          </p>

          <ul class="footer-list">

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/about-us">About</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/terms-of-service">Terms</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/privacy-policy">Privacy</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="mailto:contact@simplebotics.io">Contact</a>
            </li>

          </ul>

          <p class="copyright">Copyright © 2017 Simplebotics. All rights reserved.</p>
        </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
  <script src="/Users/gabriel/Desktop/simplebotics.io/scripts/app.js"></script>
  <script src="/Users/gabriel/Desktop/simplebotics.io/components/simplebotics.io.ctr.js"></script>
  <script src="/Users/gabriel/Desktop/simplebotics.io/node_modules/scroll-to/scroll-to.js"></script>

</body>
</html>
